/* Refers to all elements. Resets the default padding and margins. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body refers to the entire visible web page. */
body {
    background-color: #d9dcd6;
}

/* Header refers to the banner at the top of the page and includes all of its elements. */
header 
{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* H1 refers to the large text in the banner. */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* SEO refers to the letters S, E, and O in the header text and affects only these three letters. */
.seo {
    color: #d9dcd6;
}

/* Nav refers to the navagation links at the top of the site. */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* ul refers to the unordered list containing the nav links. */
ul {
    list-style-type: none;
}

/* li refers to each individual nav link. */
li {
    display: inline-block;
    margin-left: 25px;
}

/* a refers to all a elements which are the links "a href". */
a {
    color: #ffffff;
    text-decoration: none;
}

/* p refers to the p elements or paragraphs. */
p {
    font-size: 16px;
}

/* figure is refering to the large background image just below the header. */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* I had trouble finding a way to add an alt to the image in Figure through CSS, so I added an alt for search optimization and hid it. */
figure img{
    visibility: hidden;
}

/* float left and right are classes used to define where certain content will be contained. Either pushed to the left or the right of its container. */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Main refers to the three large sections of content toward the bottom taking up most of the screen. */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Aside refers to the section to the right side of the screen. */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* The benefits class refers to the content within the Aside. */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Benefits h3 refers to the h3 elements of the aside. */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Benefit's img refers to the icon images within the aside. */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The content class refers to the content of the three sections in the Main container. */
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Content img refers to the three images within the sections of Main. */
.content img {
    max-height: 200px;
}

/* Content h2 refers to the h2 elements within the sections of Main. */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer refers to the banner at the bottom of the screen. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer strong refers to the bold text within the footer. */
footer strong {
    font-size: 20px;
}
